@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background: #FFF2F2;
  color: #7B8FA1;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;

}

h1, h2, h3 {
  color: #03001C;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 500px;
    margin: 40px auto;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    margin: 40px auto;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    margin: 40px auto;
  }
}

.card-white {
  background-color: #FFF;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}

a {
  font-family: 'Poppins', sans-serif;
  color: #7286D3;
  text-decoration: none;
}
a:hover {
  color: black;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
